.service-container{
    border: 1px solid #21ABA5;
    border-radius: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #FFFFFF;
}
img{
    width: 100%;
}
.button{
    background-color:rgba(116, 116, 235, 0.712);
    border: none;
    color:#FFFFFF;
    padding: 5px;
    border-radius: 8px;
}